.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules
server/node_modules
node_modules
server/tree-sitter-souffle/**
!server/tree-sitter-souffle/tree-sitter-souffle.wasm
